* {
margin: 0;
padding: 0;
box-sizing: border-box;
 }
html,body {
height: 100%;
width: 100%;
}

button{
    background-color: rgb(25, 10, 126);
    color: white;
    padding: 16px 32px;
    border: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size:22px;
    border-radius: 5px;
    z-index:9;
    
}
button:active{
    transform:translate(-50%,-50%) scale(0.9)
}